# Archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo

# Carpetas de compilación
bin/
obj/
Debug/
Release/

# Archivos temporales de IDE
*.ide
*.sln.docstates

# Archivos de base de datos locales
*.sqlite

# Archivos de configuración locales (VS)
ProjectSettings.json
VSWorkspaceState.json

# Archivos de cache
*.cache
*.log

# Archivos generados por el compilador
*.dll
*.exe
*.pdb

# Archivos de publicación
publish/